.navbar-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  .bar-section,
  .search-bar-section,
  .account-section {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .search-bar-section {
    flex: 1;
    justify-content: center;
  }
}
